body{
    background-color: rgb(218, 213, 213);
}
#wrapper{
  color:rgb(75, 69, 69);
    text-align: center;
}
#error-msg{
    font-size: large;
    margin: auto;
    text-align: center;
    margin-top: 30px;
}
#email-input{
    height: 30px;
    width: 250px;
}
#submit{
    width: 120px;
    height: 30px;
    border:none;
    border-radius: 15px;
    background-color:rgb(75, 69, 69);
    color: rgb(218, 213, 213);
    box-shadow: 3px 3px 3px rgb(53, 51, 51);
}
#submit:hover{
    background-color:rgb(112, 106, 106) ;
}